extends ../layout/layout.jade

block content
    if errors
        each error in errors
            +alert('danger', i18n(error), true)
            
    .row.col-md-4.col-md-offset-4
        .row
            form(role='form', method='post', action='/auth/local')
                .form-group
                    label(for='identifier') Username
                    input.form-control(type='text', name='identifier', placeholder='Username or Email')
                .form-group
                    label(for='password') Password
                    input.form-control(type='password', name='password', placeholder='Password')
                .form-group
                    input(type='hidden', name='redirect', value='/dashboard')
                    button.btn.btn-primary.col-md-12(type='submit', name='login') Sign in
        
        if providers
            .row
                h4 Or you can login via:
                each key in Object.keys(providers)
                    - var provider = providers[key]
                    a.btn.btn-default.col-md-12(role='button', 
                                                style='background-color: #{provider.background}; color: #{provider.text};',
                                                href='/auth/#{provider.slug}')= provider.name
