extends ../layout/auth.jade

block title
    | Login

block content            
    - var redirect = req.param('redirect')
    .panel-heading
        h3.panel-title Please Sign In
    .panel-body
        if errors
            each error in errors
                +alert('danger', i18n(error), true)
                
        form(role='form', method='post', action='/auth/local')
            .form-group
                label(for='identifier') Username
                input.form-control(type='text', name='identifier', placeholder='Username or Email')
            .form-group
                label(for='password') Password
                input.form-control(type='password', name='password', placeholder='Password')
            .form-group
                if redirect
                    input(type='hidden', name='redirect', value=redirect)
                else
                    input(type='hidden', name='redirect', value='dashboard')
                button.btn.btn-primary.btn-block(type='submit', name='login') Sign in
    
    if providers
        .panel-footer
            h4 Or you can sign in via:
            each key in Object.keys(providers)
                - var provider = providers[key]
                a.btn.btn-default.btn-block(role='button', 
                                            style='background-color: #{provider.background}; color: #{provider.text};',
                                            href='/auth/#{provider.slug}')= provider.name
