<form role="form" action="<%= form.action || '' %>" method="<%= form.method || '' %>">
    <% form.controls.forEach(function(control) { %>
        <div class="form-group">
            <% if(typeof(control) === "string") { %>
                <%- control %>
            <% } else { %>
                <% if(control.kind !== "button") { %>
                    <%- partial('label', [{ for: control.name, value: control.placeholder }]) %>
                <% } %>
                <%- partial('input', [control]) %>
            <% } %>
        </div>
    <% }); %>
</form>
