<% if(link.button) { %>
    <a href="<%= link.target || '' %>" class="btn btn-<%= link.style || 'default' %>"><%= link.value %></a>
<% } else { %>
    <a href="<%= link.target || '' %>" class="<%= link.style %>"><%= link.value %></a>
<% } %>
