extends ../layout/default.jade

block pageheader
    | Notifications

block content
    table.table.table-striped
        thead
            th Type
            th Title
            th Message
            th Time
        tbody
            each notification in notifications
                tr
                    a(href=notification.url)
                        td= notification.type
                        td= notification.title
                        td= notification.message
                        td= notification.createdAt
