extends ../layout/default.jade

block pageheader
    | Notifications

block content
    table.table.table-striped
        thead
            th Type
            th Seen
            th Title
            th Message
            th Time
        tbody
            each notification in notifications
                tr
                    a(href=notification.url)
                        td.col-md-1= notification.type
                        td.col-md-1.col-sm-1.col-lg-1
                            input(type='checkbox', disabled, checked=notification.seen != null)
                        td
                            if notification.url
                                a(href=notification.url)= notification.title
                            else
                                = notification.title
                        td= notification.message
                        td.col-md-2= UtilityService.displayDate(notification.createdAt)
