extends default

block pageheader
    p Commands

block content
    - var canEdit = req.user.hasPermission('module.commands.edit')

    .panel.panel-primary
        .panel-heading
            | Basic commands
        table.table
            thead
                th #
                th Name
                th Content
                if canEdit
                    th Actions
            tbody
                each command in commands
                    - if(command.type == 'basic')
                        tr
                            td= command.id
                            td= command.name
                            td= 'Message: ' + command.data.message
                            if canEdit
                                td
                                    a.btn.btn-primary.fa.fa-pencil(href='#edit')
                                    a.btn.btn-danger.fa.fa-bin(href='#delete')

    .panel.panel-primary
        .panel-heading
            | Hearing commands
        table.table
            thead
                th #
                th Name
                th Content
                if canEdit
                    th Actions
            tbody
                each command in commands
                    - if(command.type == 'hear')
                        tr
                            td= command.id
                            td= command.name
                            td
                                = 'Regex: ' + command.data.regex.toString()
                                br
                                = 'Message: ' + command.data.message

                            if canEdit
                                a.btn.btn-primary.fa.fa-pencil(href='#edit')
                                a.btn.btn-danger.fa.fa-bin(href='#delete')
