extends default

block pageheader
    p Commands

block content
    script(type='text/javascript').
        $(function () {
            $('.delete-button').click(function () {
                var self = this;
                swal({
                    title: 'Are you sure?',
                    text: 'If you continue, you will not be able to recover the deleted command.',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: 'btn-danger',
                    confirmButtonText: 'Yes, continue',
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        url: self.getAttribute('data-href'),
                        type: 'DELETE',
                        dataType: 'json',
                        success: function (result) {
                            window.location.href = self.getAttribute('data-return');
                        },
                        error: function (result) {
                            if (result.status === 200) {
                                window.location.href = self.getAttribute('data-return');
                            }
                        }
                    });
                });
            });
        });

    - var canEdit = req.user.hasPermission('module.commands.edit')

    .panel.panel-primary
        .panel-heading
            | Basic commands
        table.table
            thead
                th #
                th Name
                th Content
                if canEdit
                    th Actions
            tbody
                each command in commands
                    - if(command.type == 'basic')
                        tr
                            td= command.id
                            td= command.name
                            td= 'Message: ' + command.data.message
                            if canEdit
                                td
                                    a.btn.btn-primary.fa.fa-pencil(href='/m/commands/command/' + command.id + '/edit')
                                    a.btn.btn-danger.fa.fa-bin.delete-button(data-href='/m/commands/command/' + command.id, data-return='/m/commands/')

    .panel.panel-primary
        .panel-heading
            | Hearing commands
        table.table
            thead
                th #
                th Name
                th Content
                if canEdit
                    th Actions
            tbody
                each command in commands
                    - if(command.type == 'hear')
                        tr
                            td= command.id
                            td= command.name
                            td
                                = 'Regex: ' + command.data.regex.toString()
                                br
                                = 'Message: ' + command.data.message

                            if canEdit
                                td
                                    a.btn.btn-primary.fa.fa-pencil(href='/m/commands/command/' + command.id + '/edit')
                                    a.btn.btn-danger.fa.fa-bin.delete-button(data-href='/m/commands/command/' + command.id, data-return='/m/commands/')
